__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
core/.env.local
media/
staticfiles/
*.log

# Environments
core/.env.example
core/.env.local
core/.env
core/.env*
./venv/
.venv/

# Docker files
Dockerfile*
docker-compose*.yml


